<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home</title>
    <link rel="stylesheet" href="/homestyle.css">
</head>
<body>
    <h2> Welcome To My Secret Page</h2>
    <% if (users!="") { %>
        <table>
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Name</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user,index) => { %>
                 <tr>
                    <td><%= index+1 %></td>
                    <td><%= user.name %></td>
                    <td>
                        <a href="/edit/<%= user._id %>">Update</a>
                        <a href="/delete/<%= user._id %>">Delete</a>
                    </td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else{ %>
        <h3>NO USER FOUND</h3>
        <% }  %>   

    


</body>
</html>

